.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form form {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
}

.signup-image {
  width: 50%;
  /* margin-top: 70px; */
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.signin-image {
  width: 50%;
  margin-top: 70px;
}

.signin-image img {
  max-width: 100%;
  height: auto;
}

.login-form label {
  font-weight: 200px;
  color: var(light-grey);
}

.login-form input {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid var(--pink);
  border-radius: 4px;
}



.account {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.account .link {
  margin-left: 5px;
  color: var(--pink);
}

.account .link:hover {
  color: #a56272;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .login-form {
    flex-direction: column;
    margin-top: 10rem;
  }
  .login-form form {
    margin-bottom: 8rem;
  }
}
